[submodule "content/c"]
	path = content/c
	url = https://github.com/dogmatists/dogma.c.git
[submodule "content/cpp"]
	path = content/cpp
	url = https://github.com/dogmatists/dogma.cpp.git
[submodule "content/dart"]
	path = content/dart
	url = https://github.com/dogmatists/dogma.dart.git
[submodule "content/go"]
	path = content/go
	url = https://github.com/dogmatists/dogma.go.git
[submodule "content/java"]
	path = content/java
	url = https://github.com/dogmatists/dogma.java.git
[submodule "content/js"]
	path = content/js
	url = https://github.com/dogmatists/dogma.js.git
[submodule "content/protobuf"]
	path = content/protobuf
	url = https://github.com/dogmatists/dogma.pb.git
[submodule "content/python"]
	path = content/python
	url = https://github.com/dogmatists/dogma.py.git
[submodule "content/ruby"]
	path = content/ruby
	url = https://github.com/dogmatists/dogma.rb.git
[submodule "content/rust"]
	path = content/rust
	url = https://github.com/dogmatists/dogma.rs.git
[submodule "content/zig"]
	path = content/zig
	url = https://github.com/dogmatists/dogma.zig.git
